<div
  id="file-wrapper"
>
  <div id="icon">
    <div *ngIf="file['.tag'] == 'folder'">
      <i class="fas fa-folder-open"></i>
    </div>
    <div *ngIf="file['.tag'] == 'file'">
        <i class="far fa-file-alt"></i>
    </div>
  </div>
  <div
    id="name"
    >
    <a (click)="changeLocation(file.path_lower)">{{file.name}}</a>

    <i
      class="far fa-star"
      (click)="changeStar(file); starTest(file);"
      [ngClass]="{'bold' : tagged}"
      ></i>

  </div>
  <div id="size">
    {{file.size | size}}
  </div>
  <div id="time-stamp">
    {{file.client_modified | date:'fullDate':''}}
  </div>
  <div id="download">
      <a
        *ngIf="file['.tag'] == 'file'"
        (click)="downloadFile(file.path_lower)"
        >
        <i
        class="fas fa-download"

        ></i></a>
  </div>
</div>
