.file-wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6% 44% 15% 24% 10%;
    border-bottom: 1px solid #c4c3c3;
    height: 64px;
}
.search{
    grid-template-columns: 6% 49% 45% ;
    font-size: 15px;
    vertical-align: middle;
}

.fa-file-alt{
    padding-top: 15px;
    font-size: 35px;

    color: rgb(52, 128, 204);
    text-align: left;
    width: 100%;
}
.fa-folder-open{
    padding-top: 15px;
    width: 100%;
    text-align: left;
    font-size: 35px;
    color: rgb(52, 128, 204);
    
}
#name, #size, #time-stamp{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 20px;
}
#icon{
    grid-column: 1/2;
    width: 100%;
    text-align: left;
}

#name{
    width: 100%;
    text-align: left;
    grid-column: 2/3;
    cursor: pointer;
}

#name:hover{
    text-decoration: underline;
}
#size{
    width: 100%;
    text-align: left;
    grid-column: 3/4
}
#time-stamp{
    width: 100%;
    text-align: right;
    grid-column: 4/5;
}
.fa-star{
    margin-left: 30px;
    font-size: 22px;
    color: rgb(52, 128, 204);   
}

.fa-star:hover{
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
#download{
    width: 100%;
    text-align: right;
}
.notification{
    background-color: red;
}
.fa-download{
    padding-top: 15px;
    font-size: 25px;
    color: rgb(52, 128, 204);   
    cursor: pointer;
}
@media (max-width: 550px){
    #file-wrapper{
        display: block;
        width: 150px;
        height: 150px;
        border-bottom: none;
    }
    .fa-folder-open, .fa-file-alt{
        font-size: 80px;
    } 
    #icon{
        text-align: center;
    }
    #name{
        font-size: 15px;
        text-align: center;
    }
    #size{
        display: none;
    }
    #time-stamp{
        display: none;
    }
    .fa-star{
        display: none;
    }
    #download{
        display: none;
    }
}