<div
  class="file-wrapper"
  [class.search]="file.search"
>
  <div id="icon">
    <div *ngIf="file['.tag'] == 'folder'">
      <i class="fas fa-folder-open"></i>
    </div>
    
    <div
      [id]="file.id"
    >
    </div>

    <div *ngIf="file['.tag'] == 'file' && !thumbnailLink">
        <i class="far fa-file-alt"></i>
    </div>
  </div>
  <div
    id="name"
    >
    <a (click)="changeLocation(file.path_lower)">{{file.name}}</a>

    <i
      *ngIf="!file.search"
      class="far fa-star"
      (click)="changeStar(file); starTest(file);"
      [ngClass]="{'bold' : tagged}"
      ></i>

  </div>
  <div *ngIf="!file.search" id="size">
    {{file.size | size}}
  </div>
  <div *ngIf="!file.search" id="time-stamp">
    {{file.client_modified | date:'fullDate':''}}
  </div>
  <div id="download">
      <a 
        (click)="downloadFile(file)"
        >
        <i 
        class="fas fa-download"
        ></i></a>
  </div>
</div>
