<div 
  id="file-wrapper"
>
  <div id="icon">
    <div *ngIf="file['.tag'] == 'folder'">
      <i class="fas fa-folder-open"></i>
    </div>
    <div *ngIf="file['.tag'] == 'file'">
        <i class="far fa-file-alt"></i>
    </div>
  </div>
  <div 
    id="name"
    (click)="changePath($event)"
    >
    <a [routerLink]="file.path_lower">{{file.name}}</a>
    <i class="far fa-star"></i>

  </div>
  <div id="size">
    {{file.size | size}}
  </div>
  <div id="time-stamp">
    {{file.client_modified | date:'fullDate':''}}
  </div>
</div>