#wrapper-list{
    width: 95%;
}
#titles{
    width: 95%;
    display: grid;
    grid-template-columns: 6% 48% 15% 30%;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #444444;
}
#title-icon{
    width: 100%;
    text-align: left;
}
#title-name{
    width: 100%;
    text-align: left;
}
#title-size{
    width: 100%;
    text-align: left;
}
#title-time{
    width: 100%;
    text-align: right;
}
@media (max-width: 550px){
    #titles{
        display: none;
    }
    #wrapper-list{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #title-icon{
        width: 100%;
        text-align: center;
    }
    #title-name{
        width: 100%;
        text-align: center;
    }
}