<p>
  test-component works!
</p>
<h1>Current location: {{ location }}</h1>
<h2>Fake location: {{ fakelocation }}</h2>
<button (click)="handleClick()">Click me for list</button>
<button (click)="printLocalStorage()">Test save state to storage</button>
<!-- <ul *ngIf="filelist?.length">
  <li *ngFor="let file of filelist"><a (click)="changeLocation(file.path_lower)" >{{file.name}}</a></li>


<div id="download">
    <a 

      (click)="downloadFile('/41-726x940.jpg')"
      download="fakeDownload"
      >
      <i 
      class="fas fa-download"
      
      ></i></a>

</div>