.container{
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    
}
.container .field-input{
    text-align: center;
}
.container .field-input input{
    text-align: left;
    border-radius: 6rem;
    border: 1px solid rgb(160, 160, 160);
    padding: .6rem 2rem .6rem 1rem;
    
    font-family: roboto;
    transition: .5s;
}
.container .field-input input:focus{
    outline: none;
    /* border-color: #212121; */
    border: 1px solid #212121;
    transition: .5s;
}
.container .field-input span{
    content: '';
    cursor: pointer;
    position: relative;
    top: 0;
    right: 1.5rem;
}
#search-wrapper{
    padding: 15px;
    width: 50%;
    position: absolute;
    background-color: aquamarine;
    z-index: 99;
    right: 0;
}